.navBar.container{
  width: 100%;
  height: 64px;

  padding: 0px 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--ui-02);
  /* background-color: blue */
  box-shadow: 0 0 18px rgba(0,0,0,0.1);
  border-radius: 16px;
}

.navBar.container .item.container{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item.container .item{
  /* width: 26px; */
  /* height: 26px; */
  padding: 4px;
  border-radius: 50px;
  /* color:grey;
  background-color: grey; */

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item.container .item .title::selection{
  /* background-color:transparent; */
}

.item.container .item .icon,.icon>.src{
  color: var(--ui-05);
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.item.container .item .title{
  display: none;
  opacity: 0;
}

.item.container .item.selected .icon>.src{
  color: var(--ui-02);
}

.item.container .item.selected .title{
  display: block;
  font-weight: 500;
  color: var(--ui-02);
  opacity: 1;
}

.item.container .item.selected .icon{
  margin-right: 2px;
}

.item.container .item.selected{
  /* min-width: 50px; */
  height: 24px;
  padding: 4px 8px; 
  border-radius: 50px;
  color: var(--ui-02);
  background-color: var(--brand-01);
}

