.FormLabel{
  margin-top: 8px;
  margin-bottom: 8px;
}

.form.helperText{
  margin-top: 8px;
}

.form.helperText.error{
  color: var(--support-error)
}

.icon.right{
  postion: absolute;
  right: 16px;
  top: 16px;
}

textarea{
  border: 2px solid var(--ui-05);
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 16px;

  font-family: var(--base-font-family);
  font-style: normal;
  color: var(--text-01);
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;

  /* Outline */
  outline: none;
}

textarea:focus{
  border: 2px solid var(--brand-01);
}

textarea::placeholder{
  color: var(--text-03);
  font-weight: 400;
  text-transform: capitalize;
}

textarea.error{
  border: 2px solid var(--support-error);
}

textarea.fullWidth{
  width: 100%;
}