

.cart_item{
  width: 100%;
  padding: 24px;
  padding-bottom: 32px;
  background-color: var(--ui-02);
  box-shadow: var(--elevation-03);
  border-radius: 8px;
}

.item_header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start
}

.item_header .item_image{
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
}

.item_header .item_name{
  margin-left: 16px;
  font-weight: 700;
}

.sub_item{
  margin-top: 16px;
  padding: 16px;
  background-color: var(--ui-02);
  box-shadow: var(--elevation-03);
  border-radius: 8px;
}

.sub_item_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline
}

.sub_item .name{
  color: var(--text-01);
  font-weight: 700;
}

.sub_item .price{
  color: var(--support-error);
  font-weight: 700;
}

.sub_item_body{
  margin-top:32px;
}

.sub_item_body .counter{
  width: 100%;
}

.cart_item+.cart_item{
  margin-top: 16px;
}