.home.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  max-width: 860px;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
}

.home.container a{
  text-decoration: none;
  color: inherit
}

.home.container .minicard{
  margin: 8px;
}

@media screen and (max-width: 420px) {
  .home.container .minicard{
    box-sizing: border-box;
  }
}

@media screen and (max-width: 350px) {
  .home.container{
    padding: 8px;
  }
}