.location.container{
  width: 100%;
  height: 100vh;

  position: relative;
}

.location.container .map{
  max-height: 50%;
  width: 100%;
  /* position: absolute; */
  /* top: 0; */
  /* background-color: var(--text-02); */
}

.map .map.container{
  width: 100%;
  height: 50vh;
  height: 50vh;
}

.location.container .popOver{
  width:100%;
  position: absolute;
  top: calc(50vh - 16px);
  /* top:60%; */
  
  /* bottom: -10%;
  min-height: 30vh;
   */


  box-sizing: border-box;

  padding: 32px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--ui-02);
  box-shadow: var(--elevation-03-reverse);
}

.location.container .popOver .title,.option_title{
  font-weight: 700;
}

.location.container .picker.container{
  margin-top: 24px;
}

.location.container .cta_btn{
  width: 100%;
  margin-top: 32px;
}

/* Google Branding and TC Hidden */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.location.container .addLocation{
  padding:16px;
  padding-left: 24px;
  border-radius: 16px;
  opacity: 0.6;
  border: 2px dashed var(--ui-04);
  margin-top:16px;
}

.popOver a{
  text-decoration: none;
  color: inherit;
}

.popOver .input{
  width: 100%;
}

.popOver .locationNames{
  display: flex;
  margin: 16px 0;
}

.popOver .chip+.chip{
  margin-left:16px;
}

.popOver .fullAddress{
  margin-top:24px;
}