
.category_title{
  display: flex;
  justify-content: space-between;
}

.orderStatus_label{
  color: var(--text-03);
}

.orderId.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px
}


.orderId.id{
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--text-03);
  padding:16px;
  border: 2px solid var(--ui-03);
  border-radius: 8px;

}

.pageHeader{
  border-radius: 16px;
  padding: 16px 24px;

  border: 2px solid var(--ui-03);
  margin-top: 16px;
  margin-bottom: 32px;

  display:flex;
  justify-content: space-between;
}

.showOrder.container .header{
  /* height: 60px; */
  border-radius: 16px;
  padding: 16px 24px;
  /* padding: 16px smaller screens */
  /* Or 24 */

  display: flex;
  flex-direction: row;

  /* background-color: #2A2E43; */
  /* background-color: var(--ui-06); */
  border: 2px solid var(--ui-03);
  /* color: var(--text-inverse); */

  margin-bottom: 16px;
}


.showOrder.container .header .user_image{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}



.showOrder.container .header .user_name{
    /* color: var(--text-03); */
    font-weight: bold;
    /* font-family: 'Poppins'; */
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
}

.showOrder.container .header .order_time{
    font-style: normal;
    margin-top:-4px;
}


.showOrder.container .header .user_email{
  margin-top:16px
}

.showOrder.container .header .user_phoneNumber{
  margin-top:16px;
  margin-bottom: 8px;
}

.showOrder.container .contact_user{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.showOrder.container .contact_user a{
  border-radius: 50px;
}

.showOrder.container .contact_user .contact_btn{
  padding: 8px 24px
}

.showOrder.container .header .order_id{
  font-weight: bold;
  font-size: 24px;
  color: var(--text-03);
  margin-left: auto;
  margin-top: 6px
}

.showOrder.container .header .i2{
  margin-left: 16px;
  margin-top:-4px
}

.showOrder.container .deliv_btn{
  margin-top:40px;
  width: 100%;
}

.showOrder.container .header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.showOrder.container .pageHeader .first .category_title{
  margin: 0;
}

.showOrder.container  .first{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.showOrder.container .first .category_title{
  padding-right:16px;
  margin: 0;
}

.showOrder.container .qr.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.showOrder.payment.container{
  padding-bottom: 56px;
}

.notiF{
  color: var(--text-03);
  margin:  8px 0 ;
}

.notiF.redd{
  color: var(--support-error)
}

/* * V2 UI Update */

/* .showOrder.container .checkoutItem.container,
.showOrder.container .locationCard.container{
  box-shadow: none;
  background-color: transparent;
  border: 2px solid var(--ui-03);
} */



