.page.container{ 
  /* max-width: 768px; */
  /* max-width: 560px; */

  max-width: 420px;
  margin: auto;
 
  padding: 16px;
}


.contain-item{
  width: calc(100% - 32px);
  min-width: 340px;
  margin-top: 16px;
}

.contain-item .counter{
  width:100%;
}

